
.md-button {
  color: #5B5B5B;
  background-color: rgb(250, 250, 250);
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-weight: 500;
  font-variant: inherit;
  font-size: 14px;
  line-height: 36px;

  vertical-align: middle;
  text-align: center;
  align-items: center;

  min-height: 36px;
  min-width: 88px;
  padding: 0 6px;

  display: inline-block;
  box-sizing: border-box;
  border: 0;
  border-radius: 2px;
  cursor: pointer;

  user-select: none;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1);
  transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.md-button:not([disabled]):hover {
  background-color: rgba(158, 158, 158, 0.2);
}

.md-button[disabled] {
  color: rgba(0, 0, 0, 0.26);
  background-color: transparent;
}

.md-button-blue {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(16, 108, 200);
}

.md-button-blue:not([disabled]):hover {
  background-color: rgb(1, 89, 162);
}

.md-button-red {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 87, 34);
}

.md-button-red:not([disabled]):hover {
  background-color: rgb(244, 81, 30);
}

.outline-button {
  cursor: pointer;
  font-family: Product Sans, Roboto, arial, sans-serif;
  box-sizing: border-box;
  min-height: 38px;
  min-width: 88px;
  display: inline-block;
  padding: 5px 12px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  color: #828286;
  transition: border-color 128ms ease-in, color 128ms ease-in;;
}

.outline-button:not([disabled]):hover {
  border-color: #4282F4;
  color: #4282F4;
}

.outline-button[disabled] {
  color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.1);
}

.outline-button-blue {
  border: 2px solid #4282F4;
  color: #4282F4;
  transition: background-color 200ms ease-in, color 200ms ease-in;
}

.outline-button-blue:not([disabled]):hover {
  border: 2px solid #4282F4;
  background-color: #4282F4;
  color: white;
}

.outline-button-red {
  border: 2px solid rgb(255, 87, 34);
  color: rgb(255, 87, 34);
  transition: background-color 200ms ease-in, color 200ms ease-in;
}

.outline-button-red:not([disabled]):hover {
  border: 2px solid rgb(255, 87, 34);
  background-color: rgb(255, 87, 34);
  color: white;
}




