html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  color: #111;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Portrait", "robotoregular", monospace;
  min-height: 100%;
  min-width:10px;
  box-sizing: border-box;
  overflow-x: hidden;
  color: #111;
}

h1, h2, h3, h4, h5, h6, div{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2{
  font-family: "Portrait", "robotoregular", monospace !important;
}

@font-face {
  font-family: 'robotolight';
  src: url('http://guyuchen.com/deadpool/fonts/roboto-light-webfont.woff2') format('woff2'),
  url('http://guyuchen.com/deadpool/fonts/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src: url('http://guyuchen.com/deadpool/fonts/roboto-medium-webfont.woff2') format('woff2'),
  url('http://guyuchen.com/deadpool/fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('http://guyuchen.com/deadpool/fonts/roboto-regular-webfont.woff2') format('woff2'),
  url('http://guyuchen.com/deadpool/fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Portrait';
  src: url('http://guyuchen.com/deadpool/fonts/Portrait-Text-Web-Regular-2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.table {
  margin: 0;
}

pre{
  width: 100%;
}

a{
  color: #033a77;
  font-weight: 400;
  text-decoration: none;
}

a:visited, a:focus, a:active {
  color: #033a77;
  text-decoration: none;
}

a:hover{
  color: #888888;
  text-decoration: none;
  outline: 0;
}
