ol.linenums {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: transparent !important;
}

div {
  font-size: 15px;
}

p {
  font-size: 20px;
}

div::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: transparent;
}

div::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

div::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #6C6C6C;
}

.custom text {
  text-align: center;
}

.custom text tspan:nth-child(1) {
  display: none;
}

.custom text tspan:nth-child(2) {
  display: none;
}

.custom text tspan:nth-child(3) {
  font-size: 25px;
  text-align: center;
  line-height: 25px;
}

.custom text tspan:nth-child(4) {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}
