div{
  display: block;
  box-sizing: border-box;
}
.sider-container{
  position: relative;
  background: #f3f3f3;
  box-shadow: 3px 0 3px rgba(0,0,0,.1);
  width: 260px;
  flex: 0 0 260px;
  height: 100%;
  padding: 60px 5px 20px 15px;
  overflow-y: auto;
  border-radius: 4px;
  border-bottom: 1px solid #ddd;
  z-index: 1600;
}
.sider-list{
  height: auto;
  width: 100%;
  overflow-y: auto;
}
