div{
  display: block;
  box-sizing: border-box;
}
.sider-container{
  background-color: #fafafa;
  box-shadow: 6px 0 6px rgba(0,0,0,.1);
  position: fixed;
  width: 260px;
  flex: 0 0 260px;
  height: 100%;
  padding: 120px 5px 20px 15px;
  overflow-y: auto;
}
.sider-list{
  height: auto;
  width: 100%;
  overflow-y: auto;
}
.sider-expand{
  position: fixed;
  height: 40px;
  width: 30px;
  top: 70px;
  left: 260px;
  padding: 8px 3px;
}
.sider-expand-btn{
  width: 24px;
  height: 24px;
  padding: 2px;
  box-sizing: border-box;
  background-color: #6e6e6e;
  border-radius: 5px;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
}
.sider-expand-btn:hover{
  cursor: pointer;
}
.sider-expand-btn svg{
  fill:white;
  width: 20px;
  height: 20px;
}

/*@media screen and (max-width: 960px) {*/
  /*.sider-container {*/
    /*left: -270px;*/
    /*transition: all 500ms;*/
  /*}*/
  /*.sider-expand{*/
    /*left: 0;*/
    /*transition: all 500ms;*/
  /*}*/
/*}*/
/*@media screen and (min-width: 960px) {*/
  /*.sider-container {*/
    /*left: 0;*/
    /*transition: all 500ms;*/
  /*}*/
  /*.sider-expand{*/
    /*left: 260px;*/
    /*transition: all 500ms;*/
  /*}*/
/*}*/
