:host {
  width: 100%;
}

div {
  display: block;
}

.markdown {
  margin: 0 auto 200px;
  width: 100%;
  max-width: 1200px;
  min-height: 10px;
}

.loading {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.loading img {
  display: block;
  width: 80px;
  height: 80px;
}
