.spider{
  position: fixed;
  top:-230px;
  left: 200px;
  transition: top 2s;
  transition-timing-function: ease-in-out;
}

.spider-show{
  top: -2px;
}

.spider-web{
  position: absolute;
  top: 0;
  left: 88px;
  width: 200px;
  height: 300px;
}

.spider-man{
  position: absolute;
  top:250px;
  left: 0;
  width: 364px;
  height: 288px;
}

.logo{
  position: absolute;
  width: 50px;
  height: 50px;
}

.tony{
  top:40px;
  left:130px;
}
.tony:hover{
  cursor: pointer;
  content: url('../../../../assets/images/Stark-logo-2.png');
}

.banner{
  top:110px;
  left:130px;
}
.banner:hover{
  cursor: pointer;
  content: url('../../../../assets/images/Hulk-logo-2.png');
}

.tchalla{
  top:180px;
  left:130px;
}
.tchalla:hover{
  cursor: pointer;
  content: url('../../../../assets/images/Tchalla-logo-2.png');
}

.steven{
  top:20px;
  left:224px;
}
.steven:hover{
  cursor: pointer;
  content: url('../../../../assets/images/Steven-logo-2.png');
}

.thor{
  top:90px;
  left:225px;
}
.thor:hover{
  cursor: pointer;
  content: url('../../../../assets/images/Thor-logo-2.png');
}

.strange{
  top:160px;
  left:225px;
}
.strange:hover{
  cursor: pointer;
  content: url('../../../../assets/images/Strange-logo-2.png');
}
