<div class="spider" [class.spider-show]="spiderShow">
  <img class="spider-man"     src="assets/images/spider-man.png">
  <img class="spider-web"     src="assets/images/spider-web.png">
  <img class="logo banner"    src="assets/images/Hulk-logo-1.png">
  <img class="logo banner-d"  src="assets/images/Hulk-logo-1.png">
  <img class="logo tony"      src="assets/images/Stark-logo-1.png">
  <img class="logo tony-d"    src="assets/images/Stark-logo-1.png">
  <img class="logo steven"    src="assets/images/Steven-logo-1.png">
  <img class="logo steven-d"  src="assets/images/Steven-logo-1.png">
  <img class="logo strange"   src="assets/images/Strange-logo-1.png">
  <img class="logo strange-d" src="assets/images/Strange-logo-1.png">
  <img class="logo tchalla"   src="assets/images/Tchalla-logo-1.png">
  <img class="logo tchalla-d" src="assets/images/Tchalla-logo-1.png">
  <img class="logo thor"      src="assets/images/Thor-logo-1.png">
  <img class="logo thor-d"    src="assets/images/Thor-logo-1.png">
</div>
