.spider{
  position: fixed;
  top:-230px;
  left: 200px;
  transition: top 2s;
  transition-timing-function: ease-in-out;
}

.spider-show{
  top: -2px;
}

.spider-web{
  position: absolute;
  top: 0;
  left: 97px;
  width: 170px;
  height: 280px;
}

.spider-man{
  position: absolute;
  top:230px;
  left: 0;
  width: 364px;
  height: 288px;
}

.logo{
  position: absolute;
  width: 50px;
  height: 50px;
}

.tony,.tony-d{
  top:40px;
  left:130px;
}
.tony-d:hover{
  cursor: pointer;
  content: url('../../../../assets/images/Stark-logo-2.png');
}

.banner,.banner-d{
  top:110px;
  left:130px;
}
.banner-d:hover{
  cursor: pointer;
  content: url('../../../../assets/images/Hulk-logo-2.png');
}

.tchalla,.tchalla-d{
  top:180px;
  left:130px;
}
.tchalla-d:hover{
  cursor: pointer;
  content: url('../../../../assets/images/Tchalla-logo-2.png');
}

.steven,.steven-d{
  top:20px;
  left:210px;
}
.steven-d:hover{
  cursor: pointer;
  content: url('../../../../assets/images/Steven-logo-2.png');
}

.thor,.thor-d{
  top:90px;
  left:210px;
}
.thor-d:hover{
  cursor: pointer;
  content: url('../../../../assets/images/Thor-logo-2.png');
}

.strange,.strange-d{
  top:160px;
  left:210px;
}
.strange-d:hover{
  cursor: pointer;
  content: url('../../../../assets/images/Strange-logo-2.png');
}
