<div id="deadpool">

  <div class="chip c1 " ></div>
  <div class="chip c2 " ></div>
  <div class="chip c3 " ></div>
  <div class="chip c4 " ></div>
  <div class="chip c5 " ></div>
  <div class="chip c6 " ></div>
  <div class="chip c7 " ></div>
  <div class="chip c8 " ></div>
  <div class="chip c9 " ></div>
  <div class="chip c10" ></div>
  <div class="chip c11" ></div>
  <div class="chip c12" ></div>
  <div class="chip c13" ></div>
  <div class="chip c14" ></div>
  <div class="chip c15" ></div>
  <div class="chip c16" ></div>
  <div class="chip c17" ></div>
  <div class="chip c18" ></div>
  <div class="chip c19" ></div>
  <div class="chip c20" ></div>
  <div class="chip c21" ></div>
  <div class="chip c22" ></div>
  <div class="chip c23" ></div>
  <div class="chip c24" ></div>
  <div class="chip c25" ></div>
  <div class="chip c26" ></div>
  <div class="chip c27" ></div>
  <div class="chip c28" ></div>
  <div class="chip c29" ></div>
  <div class="chip c30" ></div>
  <div class="chip c31" ></div>
  <div class="chip c32" ></div>
  <div class="chip c33" ></div>
  <div class="chip c34" ></div>
  <div class="chip c35" ></div>
  <div class="chip c36" ></div>
  <div class="chip c37" ></div>
  <div class="chip c38" ></div>
  <div class="chip c39" ></div>
  <div class="chip c40" ></div>
  <div class="chip c41" ></div>
  <div class="chip c42" ></div>
  <div class="chip c43" ></div>
  <div class="chip c44" ></div>
  <div class="chip c45" ></div>
  <div class="chip c46" ></div>
  <div class="chip c47" ></div>
  <div class="chip c48" ></div>
  <div class="chip c49" ></div>
  <div class="chip c50" ></div>
  <div class="chip c51" ></div>
  <div class="chip c52" ></div>
  <div class="chip c53" ></div>
  <div class="chip c54" ></div>
  <div class="chip c55" ></div>
  <div class="chip c56" ></div>
  <div class="chip c57" ></div>
  <div class="chip c58" ></div>
  <div class="chip c59" ></div>
  <div class="chip c60" ></div>
  <div class="chip c61" ></div>
  <div class="chip c62" ></div>
  <div class="chip c63" ></div>
  <div class="chip c64" ></div>
  <div class="chip c65" ></div>
  <div class="chip c66" ></div>
  <div class="chip c67" ></div>
  <div class="chip c68" ></div>
  <div class="chip c69" ></div>
  <div class="chip c70" ></div>
  <div class="chip c71" ></div>
  <div class="chip c72" ></div>
  <div class="chip c73" ></div>
  <div class="chip c74" ></div>
  <div class="chip c75" ></div>
  <div class="chip c76" ></div>
  <div class="chip c77" ></div>
  <div class="chip c78" ></div>
  <div class="chip c79" ></div>
  <div class="chip c80" ></div>
  <div class="chip c81" ></div>
  <div class="chip c82" ></div>
  <div class="chip c83" ></div>
  <div class="chip c84" ></div>
  <div class="chip c85" ></div>
  <div class="chip c86" ></div>
  <div class="chip c87" ></div>
  <div class="chip c88" ></div>
  <div class="chip c89" ></div>
  <div class="chip c90" ></div>
  <div class="chip c91" ></div>
  <div class="chip c92" ></div>
  <div class="chip c93" ></div>
  <div class="chip c94" ></div>
  <div class="chip c95" ></div>
  <div class="chip c96" ></div>
  <div class="chip c97" ></div>
  <div class="chip c98" ></div>
  <div class="chip c99" ></div>
  <div class="chip c100"></div>
  <div class="chip c101"></div>
  <div class="chip c102"></div>
  <div class="chip c103"></div>
  <div class="chip c104"></div>
  <div class="chip c105"></div>
  <div class="chip c106"></div>
  <div class="chip c107"></div>
  <div class="chip c108"></div>
  <div class="chip c109"></div>
  <div class="chip c110"></div>
  <div class="chip c111"></div>
  <div class="chip c112"></div>
  <div class="chip c113"></div>
  <div class="chip c114"></div>
  <div class="chip c115"></div>
  <div class="chip c116"></div>
  <div class="chip c117"></div>
  <div class="chip c118"></div>
  <div class="chip c119"></div>
  <div class="chip c120"></div>
  <div class="chip c121"></div>
  <div class="chip c122"></div>
  <div class="chip c123"></div>
  <div class="chip c124"></div>
  <div class="chip c125"></div>
  <div class="chip c126"></div>
  <div class="chip c127"></div>
  <div class="chip c128"></div>
  <div class="chip c129"></div>
  <div class="chip c130"></div>
  <div class="chip c131"></div>
  <div class="chip c132"></div>
  <div class="chip c133"></div>
  <div class="chip c134"></div>
  <div class="chip c135"></div>
  <div class="chip c136"></div>
  <div class="chip c137"></div>
  <div class="chip c138"></div>
  <div class="chip c139"></div>
  <div class="chip c140"></div>
  <div class="chip c141"></div>
  <div class="chip c142"></div>
  <div class="chip c143"></div>
  <div class="chip c144"></div>
  <div class="chip c145"></div>
  <div class="chip c146"></div>
  <div class="chip c147"></div>
  <div class="chip c148"></div>
  <div class="chip c149"></div>
  <div class="chip c150"></div>
  <div class="chip c151"></div>
  <div class="chip c152"></div>
  <div class="chip c153"></div>
  <div class="chip c154"></div>
  <div class="chip c155"></div>
  <div class="chip c156"></div>
  <div class="chip c157"></div>
  <div class="chip c158"></div>
  <div class="chip c159"></div>
  <div class="chip c160"></div>
  <div class="chip c161"></div>
  <div class="chip c162"></div>
  <div class="chip c163"></div>
  <div class="chip c164"></div>
  <div class="chip c165"></div>
  <div class="chip c166"></div>
  <div class="chip c167"></div>
  <div class="chip c168"></div>
  <div class="chip c169"></div>
  <div class="chip c170"></div>
  <div class="chip c171"></div>
  <div class="chip c172"></div>
  <div class="chip c173"></div>
  <div class="chip c174"></div>
  <div class="chip c175"></div>
  <div class="chip c176"></div>
  <div class="chip c177"></div>
  <div class="chip c178"></div>
  <div class="chip c179"></div>
  <div class="chip c180"></div>
  <div class="chip c181"></div>
  <div class="chip c182"></div>
  <div class="chip c183"></div>
  <div class="chip c184"></div>
  <div class="chip c185"></div>
  <div class="chip c186"></div>
  <div class="chip c187"></div>
  <div class="chip c188"></div>
  <div class="chip c189"></div>
  <div class="chip c190"></div>
  <div class="chip c191"></div>
  <div class="chip c192"></div>
  <div class="chip c193"></div>
  <div class="chip c194"></div>
  <div class="chip c195"></div>
  <div class="chip c196"></div>
  <div class="chip c197"></div>
  <div class="chip c198"></div>
  <div class="chip c199"></div>
  <div class="chip c200"></div>
  <div class="chip c201"></div>
  <div class="chip c202"></div>
  <div class="chip c203"></div>
  <div class="chip c204"></div>
  <div class="chip c205"></div>
  <div class="chip c206"></div>
  <div class="chip c207"></div>
  <div class="chip c208"></div>
  <div class="chip c209"></div>
  <div class="chip c210"></div>
  <div class="chip c211"></div>
  <div class="chip c212"></div>
  <div class="chip c213"></div>
  <div class="chip c214"></div>
  <div class="chip c215"></div>
  <div class="chip c216"></div>
  <div class="chip c217"></div>
  <div class="chip c218"></div>
  <div class="chip c219"></div>
  <div class="chip c220"></div>
  <div class="chip c221"></div>
  <div class="chip c222"></div>
  <div class="chip c223"></div>
  <div class="chip c224"></div>
  <div class="chip c225"></div>
  <div class="chip c226"></div>
  <div class="chip c227"></div>
  <div class="chip c228"></div>
  <div class="chip c229"></div>
  <div class="chip c230"></div>
  <div class="chip c231"></div>
  <div class="chip c232"></div>
  <div class="chip c233"></div>
  <div class="chip c234"></div>
  <div class="chip c235"></div>
  <div class="chip c236"></div>
  <div class="chip c237"></div>
  <div class="chip c238"></div>
  <div class="chip c239"></div>
  <div class="chip c240"></div>
  <div class="chip c241"></div>
  <div class="chip c242"></div>
  <div class="chip c243"></div>
  <div class="chip c244"></div>
  <div class="chip c245"></div>
  <div class="chip c246"></div>
  <div class="chip c247"></div>
  <div class="chip c248"></div>
  <div class="chip c249"></div>
  <div class="chip c250"></div>
  <div class="chip c251"></div>
  <div class="chip c252"></div>
  <div class="chip c253"></div>
  <div class="chip c254"></div>
  <div class="chip c255"></div>
  <div class="chip c256"></div>
  <div class="chip c257"></div>
  <div class="chip c258"></div>
  <div class="chip c259"></div>
  <div class="chip c260"></div>
  <div class="chip c261"></div>
  <div class="chip c262"></div>
  <div class="chip c263"></div>
  <div class="chip c264"></div>
  <div class="chip c265"></div>
  <div class="chip c266"></div>
  <div class="chip c267"></div>
  <div class="chip c268"></div>
  <div class="chip c269"></div>
  <div class="chip c270"></div>
  <div class="chip c271"></div>
  <div class="chip c272"></div>
  <div class="chip c273"></div>
  <div class="chip c274"></div>
  <div class="chip c275"></div>
  <div class="chip c276"></div>
  <div class="chip c277"></div>
  <div class="chip c278"></div>
  <div class="chip c279"></div>
  <div class="chip c280"></div>
  <div class="chip c281"></div>
  <div class="chip c282"></div>
  <div class="chip c283"></div>
  <div class="chip c284"></div>
  <div class="chip c285"></div>
  <div class="chip c286"></div>
  <div class="chip c287"></div>
  <div class="chip c288"></div>
  <div class="chip c289"></div>
  <div class="chip c290"></div>
  <div class="chip c291"></div>
  <div class="chip c292"></div>
  <div class="chip c293"></div>
  <div class="chip c294"></div>
  <div class="chip c295"></div>
  <div class="chip c296"></div>
  <div class="chip c297"></div>
  <div class="chip c298"></div>
  <div class="chip c299"></div>
  <div class="chip c300"></div>
  <div class="chip c301"></div>
  <div class="chip c302"></div>
  <div class="chip c303"></div>
  <div class="chip c304"></div>
  <div class="chip c305"></div>
  <div class="chip c306"></div>
  <div class="chip c307"></div>
  <div class="chip c308"></div>
  <div class="chip c309"></div>
  <div class="chip c310"></div>
  <div class="chip c311"></div>
  <div class="chip c312"></div>
  <div class="chip c313"></div>
  <div class="chip c314"></div>
  <div class="chip c315"></div>
  <div class="chip c316"></div>
  <div class="chip c317"></div>
  <div class="chip c318"></div>
  <div class="chip c319"></div>
  <div class="chip c320"></div>
  <div class="chip c321"></div>
  <div class="chip c322"></div>
  <div class="chip c323"></div>
  <div class="chip c324"></div>
  <div class="chip c325"></div>
  <div class="chip c326"></div>
  <div class="chip c327"></div>
  <div class="chip c328"></div>
  <div class="chip c329"></div>
  <div class="chip c330"></div>
  <div class="chip c331"></div>
  <div class="chip c332"></div>
  <div class="chip c333"></div>
  <div class="chip c334"></div>
  <div class="chip c335"></div>
  <div class="chip c336"></div>
  <div class="chip c337"></div>
  <div class="chip c338"></div>
  <div class="chip c339"></div>
  <div class="chip c340"></div>
  <div class="chip c341"></div>
  <div class="chip c342"></div>
  <div class="chip c343"></div>
  <div class="chip c344"></div>
  <div class="chip c345"></div>
  <div class="chip c346"></div>
  <div class="chip c347"></div>
  <div class="chip c348"></div>
  <div class="chip c349"></div>
  <div class="chip c350"></div>
  <div class="chip c351"></div>
  <div class="chip c352"></div>
  <div class="chip c353"></div>
  <div class="chip c354"></div>
  <div class="chip c355"></div>
  <div class="chip c356"></div>
  <div class="chip c357"></div>
  <div class="chip c358"></div>
  <div class="chip c359"></div>
  <div class="chip c360"></div>
  <div class="chip c361"></div>
  <div class="chip c362"></div>
  <div class="chip c363"></div>
  <div class="chip c364"></div>
  <div class="chip c365"></div>
  <div class="chip c366"></div>
  <div class="chip c367"></div>
  <div class="chip c368"></div>
  <div class="chip c369"></div>

  <div class="chip bg1" (mouseenter)="closeEye()"></div>
  <div class="chip bg2" (mouseenter)="closeEye()"></div>
  <div class="chip bg3" (mouseenter)="closeEye()"></div>

</div>
