<div class="footer">
  <div class="footer-content">
    <div class="title">{{title}}</div>
    <div class="contact">
      <div class="single-contact contact-github">
        <img class="github" (mouseenter)="mouseEnter('github')" (mouseleave)="mouseLeave()" (click)="clickE('github')"
             src="https://oss.guyuchen.com/deadpool/images/github-black.png">
      </div>
      <div class="single-contact contact-gmail">
        <img class="gmail" (mouseenter)="mouseEnter('gmail')" (mouseleave)="mouseLeave()" (click)="clickE('gmail')"
             src="https://oss.guyuchen.com/deadpool/images/gmail-black.png">
      </div>
      <div class="single-contact contact-linkedin">
        <img class="linkedin" (mouseenter)="mouseEnter('linkedin')" (mouseleave)="mouseLeave()"
             (click)="clickE('linkedin')" src="https://oss.guyuchen.com/deadpool/images/linkedin-black.png">
      </div>
      <div class="single-contact contact-wechat">
        <img class="wechat" (mouseenter)="mouseEnter('wechat')" (mouseleave)="mouseLeave()" (click)="clickE('wechat')"
             src="https://oss.guyuchen.com/deadpool/images/wechat-black.png">
      </div>
      <div class="single-contact contact-weibo">
        <img class="weibo" (mouseenter)="mouseEnter('weibo')" (mouseleave)="mouseLeave()" (click)="clickE('weibo')"
             src="https://oss.guyuchen.com/deadpool/images/weibo-black.png">
      </div>
    </div>
    <div class="at">
      <b>@&nbsp;2018</b>
    </div>
  </div>
</div>
<pop></pop>

