<header-note [category]="category"></header-note>

<div class="sider">
  <sider [list]="siderList" [category]="category"></sider>
</div>

<div (click)="toggleMain()">

  <div class="toTop" (click)="toTop()"></div>
  <div class="toBottom" (click)="toBottom()"></div>

  <div class="main row" [@mainExpand]="mainState">

    <div class="main-header col-100-0">
      <div class="main-header-img" [style.background]="background" [ngClass]="category">
        <img src="{{src}}">
      </div>
    </div>

    <div class="main-block col-100-0">
      <markdown [category]="category" [id]="id"></markdown>
    </div>

  </div>

</div>

