.sider {
  position: fixed;
  height: 100%;
  width: 0;
  padding: 72px 5px 1px 2px;
}

.main {
  min-height: 600px;
  height: 100%;
  padding-left: 265px;
}

.main-header {
  width: 100%;
  height: 470px;
  padding-top:70px;
  background-color: #444444;
  z-index: 1200;
}

.main-block {
  padding: 60px 30px 10px 30px;
  height: auto;
  min-height: 100%;
  min-width: 10px;
}

.toBottom {
  position: fixed;
  top: 20px;
  right: 40px;
  height: 30px;
  width: 30px;
  background-color: #353c4e;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  z-index: 1900;
}

.toTop {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
  background-color: #353c4e;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  z-index: 1900;
}

.toTop:hover, .toBottom:hover {
  cursor: pointer;
}
